/* Stilsetting for kortet */
.card {
    width: 300px; /* Setter bredden på kortet */
    height: 400px; /* Setter høyden på kortet */
    border-radius: 8px; /* Rundere hjørnene på kortet */
    overflow: hidden; /* Skjuler eventuelt innhold som går utenfor kortets ramme */
    box-shadow: 3px 3px 10px black; /* Legger til en skygge rundt kortet for dybde */
    background-color: var(--secondary-color); /* Setter bakgrunnsfargen til pastell-oransje */
    color: var(--black-color); /* Setter tekstfargen til myk svart */
}

/* Stilsetting for bildeinnhold i kortet */
.card figure {
    width: 100%; /* Setter bredden på figuren til 100% av kortet */
    height: 50%; /* Setter høyden på figuren til 50% av kortets høyde */
}

/* Stilsetting for bildet i figuren */
.card figure img {
    width: 100%; /* Setter bredden på bildet til 100% av figuren */
    height: 100%; /* Setter høyden på bildet til 100% av figuren */
    object-fit: cover; /* Sørger for at bildet fyller hele området uten å endre forholdet (beskjærer om nødvendig) */
}

/* Stilsetting for tekstområdet i kortet */
.card-text-container {
    padding: 16px; /* Legger til padding rundt tekstinnholdet */
    display: grid; /* Bruker grid layout for tekstinnholdet */
    gap: 16px; /* Setter avstand mellom elementene i gridet */
    height: 50%; /* Setter høyden på tekstområdet til 50% av kortets høyde */
}

/* Stilsetting for overskriften i tekstområdet */
.card-text-container h3 {
    font-size: 22px; /* Setter skriftstørrelsen på overskriften */
    text-align: center; /* Sentrerer overskriften horisontalt */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Stilsetting for paragrafen i tekstområdet */
.card-text-container p {
    font-weight: bolder; /* Gjør teksten fetere */
    text-align: center; /* Sentrerer teksten horisontalt */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
