/* Importerer ekstern CSS-fil for kortstiler */
@import "card.css";

/* Definerer root-variabler for enkel fargehåndtering */
:root {
  --primary-color: #008080; /* Teal - brukes som hovedfarge */
  --secondary-color: #A291CA; /* Mer lilla, fortsatt en dempet lavendel */
  --tertiary-color: #fbc02d; /* Mørk gul - brukes for tertiære aksenter */

  --black-color: #0A0A0A; /* Mer mot svart, for bedre kontrast på bakgrunn */
  --white-color: #1c1c1c; /* Nær svart tekstfarge for god lesbarhet */
  --contrast-color: #f4511e; /* Dempet oransje - brukes for høykontrast elementer */
}


  

/* Global reset: Fjerner standard marger, padding og setter box-sizing */
* {
  margin: 0; /* Fjerner margin */
  padding: 0; /* Fjerner padding */
  box-sizing: border-box; /* Sørger for at padding og kanter ikke påvirker elementets bredde/høyde */
}

/* Stilsetting for body-elementet */
body {
  background-color: var(--black-color); /* Setter bakgrunnen til myk svart */
  color: var(--white-color); /* Setter tekstfargen til hvit for bedre lesbarhet */
  display: flex; /* Bruker flexbox for layout */
  justify-content: center; /* Sentrerer innholdet horisontalt */
  align-items: center; /* Sentrerer innholdet vertikalt */
  flex-direction: column; /* Stabler elementer vertikalt */
  min-height: 100vh; /* Sørger for at body dekker hele viewport-høyden */
}
